body {
  font-family: 'DroidSansRegular', sans-serif;
  background: #F7F5FE;
}

body, body * {
    -webkit-font-smoothing: antialiased; 
}

ti {
	font-family: 'TeXGyrePagellaRegular', sans-serif;
	font-size: 36px;
	font-variant: small-caps;
	text-align: right;
	line-height: 1em;
	display: block;
}

h1 , h2, h3, h4, h5, h6 {
	font-family: 'TeXGyrePagellaRegular', sans-serif;
}

subti {
	font-family: 'OswaldLight', sans-serif;
	text-align: right;
	display:block;
}

date {
	font-size: 12px;
}

#content {
	*zoom: 1;
	font-size: 13px;
	line-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  background: #fff;
  margin: 10px auto 10px;
  border: 1px solid #F1ECFF;
  position: relative;
  padding: 5% 8% 5%;
}

#content p {
	color: #1a1a1a;
}

a {
	text-decoration: none;
	color: rgb(104,190,255);
}

dt {
	font-weight: bold;
}

.highlight {
  margin: 0;
  padding: 0; 
  }

pre {
  overflow-x: auto;
  padding: 10px 60px;
  width: 100%;
  line-height: 1.2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
]

code {
  font-size: 13px;
  color: #888;
}

posttitle a{
	font-family: 'TeXGyrePagellaRegular', sans-serif;
	font-variant: small-caps;
	font-size: 20px;
}
#listofposts ol li p { padding:8px; font-size:13px; border-left: 1px solid #999; }
#listofposts ol li p  a{ text-decoration: none; }